/* ======================= Google Fonts ======================= */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;900&display=swap');
/* ======================= Google Fonts ======================= */

/* =====================
Common CSS
===================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style: none;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
.container{
    width: 1150px;
    margin: 0 auto;
}


/* Header notice Css */
.header_notice {
    background: rgb(2,3,129);
}
.header_notice p {
    text-align: center;
    color: white;
    font-size: 14px;
    padding: 10px 0;
}